body {
    margin: 0;
    padding: 0;
    background-color: #0b4f4f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    background-color: white;
    padding: 80px;
    border-radius: 10px;
    text-align: center;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form {
    margin-top: 15px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;

}

.task {
    list-style: none;
    padding: 0;
}

.task li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}